<div class="container text-center mt-5">
    <div class="row">
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/car.png">
        <p>Automotive</p>
      </div>
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/apartment.png">
        <p>Real estate</p>
      </div>
      <div class="col" style="cursor: pointer;">
        <a href="/metals">
        <img class="category-class" src="images/gold.png">
        <p>Metals</p>
        </a>
      </div>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="row">
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/room.png">
        <p>Accommodation</p>
      </div>
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/customer.png">
        <p>Services</p>
      </div>
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/smartphone.png">
        <p>Electronics</p>
      </div>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="row">
      <div class="col" style="cursor: pointer;">
        <a href="/advertisement/<%= advertisement.category%>">
        <img class="category-class" src="images/job.png">
        <p>Jobs</p>
        </a>
      </div>
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/menu.png">
        <p>Other</p>
      </div>
      <div class="col" style="cursor: pointer;">
        <img class="category-class" src="images/menu.png">
        <p>Other</p>
      </div>
    </div>
  </div>

  