
<div class="container text-center mt-1" style="padding: 5px;">
    <div class="row ">
      <div class="d-flex justify-content-center">
        <div style="margin-left:5px"><p>Bitcoin</p></div>
        <div style="margin-left:5px"><span style="color:green">$</span><%= btcprice %> </div>
      </div>
    </div>
  </div>