*{
  font-family: 'Roboto', sans-serif;
}

.nav-container{
    border-bottom: solid 1px #49f265;
}

.title-span{
  color: #49f265;
}

li{
  margin-top: 5px;
}

.category-class{
  width: 25%;
}

.price-img{
  width: 20px;
}

